html
  head
    title= "ATI Трекер"
  body
    h1= "Здесь не будет ничего"
    p= "Это же API, чего вы ждали"
    blockquote
      div= "A rat crept softly through the vegetation"
      div= "Dragging its slimy belly on the bank"
      div= "While I was fishing in the dull canal"
      div= "On a winter evening round behind the gashouse"
    h2= "Впрочем вру, что-нибудь да будет"
    div
      p
        a(href="/startRide/thisisloadid?lat=55.75&lon=37.61&time=12323&money=600" target="_blank")= "Начать перевозку для груза 'thisisloadid' (Москва - СПб)"
      p
        a(href="/setPoint/thisisloadid?lat=56.858&lon=35.900&time=12323"  target="_blank")= "Добавить точку для груза 'thisisloadid' (Тверь, треть пути от Москвы)"
      p
        a(href="/setPoint/thisisloadid?lat=57.879&lon=34.106&time=12323"  target="_blank")= "Добавить точку для груза 'thisisloadid' (Бологое, полпути от Москвы)"
      p
        a(href="/setPoint/thisisloadid?lat=58.521&lon=31.271&time=12323"  target="_blank")= "Добавить точку для груза 'thisisloadid' (Великий Новгород, почти приехали)"
      p
        a(href="/getPoints/thisisloadid" target="_blank")= "Получить точки для груза 'thisisloadid'"
      p
        a(href="/endRide/thisisloadid?lat=59.938&lon=30.314&time=12323" target="_blank")= "Завершить перевозку для груза 'thisisloadid'"